<div class="notes">
  <form (ngSubmit)="onsubmit(notesform)" #notesform="ngForm">
    <input name="date" [ngModel]="note.date" [value]="createddate | date:'medium'"  readonly style="margin-top: 25px;">
    <br>
    <label for="title" style="font-size: larger; margin-top: 30px;" >Title</label>
    <br>
    <div class="control">
    <input type="text" name="title" [ngModel]="note.title">
    </div>
    <br>
    <label for="body" style="font-size: larger;">Body</label>
    <br>
    <div class="control">
    <input type="text" name="body" class="body" [ngModel]="note.body">
    </div>
    <br>
    <button type="button" class="btn btn-primary" (click)="onsubmit(notesform)">Save</button>
  </form>
</div>

