<p>notes works!</p>
<div class="notes">
  <form (ngSubmit)="onsubmit(notesform)" #notesform="ngForm">
    <label for="title" >Title</label>
    <br>
    <div class="control">
    <input type="text" name="title" [ngModel]="note.title">
    </div>
    <br>
    <label for="body">Body</label>
    <br>
    <div class="control">
    <input type="text" name="body" [ngModel]="note.body">
    </div>
    <br>
    <button type="button" class="btn btn-primary" (click)="onsubmit(notesform)">Save</button>
  </form>
</div>

